@import "bootstrap-sprockets";
@import "bootstrap";


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: 		border-box;
	-webkit-box-sizing: border-box;
	box-sizing: 				border-box;
}


/* universal */

html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

.main-container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

.top-navbar {
	margin-bottom: 50px;
	border-radius: 0;
	border-bottom: 6px solid #e6e6e6;
	min-height: 90px;
}

#logo-img img {
	float: left;
	width: 50px;
  margin-right: 10px;
  padding-top: 14px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 24px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar-right {
	margin-top: 15px;
}


/* page body */

.main-header {
	margin-bottom: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.6em;
}

.page-content {
	margin-bottom: 100px;
}

.search-form-group {
	width: 100%;
	height: 40px;
	margin-bottom: 19px;
	label {
		margin-top: 7px;
	}
	select, option {
		/*color: #337ab7;*/ /*light blue*/
		color: #3277b3; /*darker blue*/
		/*color: #0059b3;*/ /*dark blue*/
		/*color: #1abb9c;*/ /*green*/
		border: none;
		box-shadow: none;
		font-weight: bold;
		cursor: pointer;
		/*text-decoration: underline;*/
	}
	select {
		-webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    margin-right: -12px;
	}
	.form-control:focus {
		border: none;
		box-shadow: none;
	}
}

.search-form-control {
	float: right;
	width: auto;
}

.edit {
	color: #cccccc;
	margin-left: 5px;
	font-size: .9em;
}

.btn-style:focus {
	outline: 0;
	background-color: #3277b3;
	color: white;
	font-weight: bold;
	outline: 0 !important;
	border-radius: 0;
}

.btn-style {
	/*background: #1abb9c;*/ /*green*/
	/*background: #3884c7;*/ /*blue*/
	background: #3277b3; /*darker blue*/
	/*background: #0059b3;*/ /*dark blue*/
	border: none;
	height: 50px !important;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 0;
	margin-top: 35px;
}

.btn-style:hover {
	background: #2d6a9f;
	color: white;
	font-weight: bold;
}

.btn-style:active {
	background-color: #2d6a9f;
	border-color: none;
	color: white;
	font-weight: bold;
	border: none;
	outline: 0 !important;
}

.btn-style:visited {
	background: #3277b3;
	border-color: none;
	border: none;
	color: white;
	font-weight: bold;
}

#selling-price {
	margin-top: 50px;
	margin-bottom: 50px;
}

#selling-price i {
	font-size: .5em;
}

#production-cost i {
	font-size: .7em;	
}

#production-cost, #overhead, #margin {
	margin-bottom: 25px;	
}

#margin {
	padding-bottom: 25px;
}

.details {
	/*visibility: hidden;*/
}

.details-button {
	width: 100%;
}

.details-button i {
	margin-left: 10px;
	color: #ccc;
}

.details-line {
	width: 95%;
	display: inline;
	float: left;
	border-bottom: 1px solid #ccc;
	margin-top: 10px;
}

.under-line {
	width: 100%;
	display: inline;
	float: left;
	border-bottom: 1px solid #ccc;
	margin-top: 10px;
}

.price, .cost, .overhead, .margin {
	float: right;
}


/* footer */

/*footer {
  position: absolute;
  bottom: 0;
	clear: both;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  height: 80px;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}*/


.navbar {
	border-right: none;
	border-left: none;
	border-top: none;
	small {
    float: left;
  }
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.bottom-navbar {
	margin-bottom: 0;
	padding-top: 9px;
}



/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}


/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* Users Index */

.users {
	list-style: none;
	margin: 0;
		li {
			overflow: auto;
			padding: 10px 0;
			border-bottom: 1px solid $gray-lighter;
		}
}


@media (max-width: 1200px) {
	.details-line {
	    width: 94%;
	}
}


@media (max-width: 992px) {
	.details-line {
	    width: 93%;
	}
}

@media (max-width: 768px) {
	.details-line {
	    width: 96%;
	}
}

@media (max-width: 640px) {
	.details-line {
	    width: 92%;
	}
}


@media (max-width: 528px) {
	.details-line {
	    width: 94%;
	}
}

@media (max-width: 528px) {
	.details-line {
	    width: 93%;
	}
}








